<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>        
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'search_event' %}">Search</a>
              </li>  
           
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'event' %}">Add Event</a>
              </li>
    
            <li class="nav-item">
              <a class="nav-link " href="{% url 'user_logout' %}" tabindex="-1" aria-disabled="true">logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'user_login' %}" tabindex="-1" aria-disabled="true">login</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">signup</a>
              </li>
          </ul>


          <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm" method = "POST">
                                {% csrf_token%}
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" name="search" placeholder="Event title or city name">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
    
          <br>

   
     

          <h2>Active Events</h2>
        {% for event in Active_Events %}

      <div class="card" >
        <div class="card-header">
          {{event.title}}
        </div>
          <div className="card-body">
              <blockquote className="blockquote mb-0">
              <p>{{event.description}}</p>
              <footer className="blockquote-footer">{{event.city}} <cite title="Source Title">{{event.date}} {{event.time}} </cite></footer>
              </blockquote>
          </div>
          
          </div>
          <br>

          {% endfor %}
<br>
<h2>Past Events</h2>

{% for event in Past_Events %}

      <div class="card" >
        <div class="card-header">
          {{event.title}}
        </div>
          <div className="card-body">
              <blockquote className="blockquote mb-0">
              <p>{{event.description}}</p>
              <footer className="blockquote-footer">{{event.city}} <cite title="Source Title">{{event.date}} {{event.time}} </cite></footer>
              </blockquote>
          </div>
          
          </div>
          <br>

          {% endfor %}

        </div>

</body>
</html>