<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'search_event' %}">Search</a>
              </li>      
           
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'event' %}">Add Event</a>
              </li>
    
            <li class="nav-item">
              <a class="nav-link " href="{% url 'user_logout' %}" tabindex="-1" aria-disabled="true">logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'user_login' %}" tabindex="-1" aria-disabled="true">login</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">signup</a>
              </li>
          </ul>
      <br>

   
    <form method='POST'>

        <div class="form-group" >
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp" placeholder="Username">
            
          </div>
          {% csrf_token%}
          <!-- {{ form.as_p }} -->
               

       
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password1" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Comfirm Password</label>
            <input type="password" class="form-control" name="password2" id="exampleInputPassword1" placeholder="Password">
          </div>
      
        <button type="submit" class="btn  btn-primary">Submit</button>
      </form>
    </div>

</body>
</html>